.DeviseForms
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.label :name
      %em (10文字以内で入力)
      %br/
      = f.text_field :name, autofocus: true, autocomplete: "name", maxlength: "10", class: "DeviseWidth"


    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "DeviseWidth"

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    .field
      = f.label :image
      %em (プロフィール画像)
      %br/
      = f.file_field :image, class: "DeviseWidth"


    .field
      = f.label :profile
      %em (140文字、6行以内で 入力)
      %br/
      = f.text_area :profile, autofocus: true, maxlength: "140", class: "DeviseProfile"

    .field
      = f.label :password
      %i (変更したくない場合は空白のままで可)
      %br/
      = f.password_field :password, autocomplete: "new-password"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          文字以上で入力
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .field
      = f.label :current_password
      %i (変更にはパスワードが必要です)
      %br/
      = f.password_field :current_password, autocomplete: "current-password"
    .actions
      = f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
