.TaskIndex
  .TaskIndex__header
    #ToDoTitle ToDoList
    #TaskNew= link_to 'ToDoの追加', new_task_path
  .TaskContent
    - current_user.tasks.each do |task|
      .TaskBox
        .TaskTitle= task.title
        .TaskShow
          = link_to 'Edit', edit_task_path(task)
          = link_to 'Delete', task_path(task), method: :delete, data: { confirm: '本当に削除しますか？' }
          %p.TaskShow__detail Detail
          %p.TaskShow__description= task.description

