.TaskIndex
  #ToDoTitle ToDoList
  %p= link_to 'ToDoの作成', new_task_path
  - current_user.tasks.each do |task|
    .TaskTitle= task.title
    .TaskShow
      = link_to 'Edit', edit_task_path(task)
      = link_to 'Delete', task_path(task), method: :delete
      %p.TaskShow__detail Detail
      %p.TaskDescription= task.description

