.TaskIndex
  #ToDoTitle ToDoList
  - current_user.tasks.each do |task|
    .TaskTitle= task.title
    .TaskShow
      %p.TaskShow__detail detail
      = link_to 'Edit', edit_task_path(task)
      = link_to 'Delete', task_path(task), method: :delete
    %span.TaskDescription= task.description
  %p= link_to 'ToDoの作成', new_task_path

