.TaskForm
  .TaskForm__main
    = form_with(model: @task, local: true) do |f|
      %div
        %p= f.label :title, 'タスク名'
        = f.text_field :title, size: 50
      %div
        %p= f.label :description, '詳細'
        = f.text_area :description
      = f.submit '送信'
    .TaskMotivate
      
