.TaskForm
  .TaskForm__main
    = form_with(model: @task, local: true) do |f|
      .TaskForm__main__forms
        %p= f.label :title, 'タスク'
        = f.text_field :title, class: "TaskForm__main__form"
        %br
        %p= f.label :description, '詳細'
        = f.text_area :description, class: "TaskForm__main__form"
        %br
        = f.submit 'タスクの送信', class: "TaskForm__main__submit"
    .TaskMotivate
