.UserShow
  .Profile
    .Profile__image
      -if @image.present?
        = image_tag @image.url, size: '100x100'
    .Profile__name
      %p.userName="#{@name}"
    .Profile__text
      = @profile
    - if user_signed_in? && current_user.id == @user.id
      = link_to 'プロフィールを編集する', edit_user_registration_path(current_user)
    = render "follow_button"
  .UserShow__contents
    .Posts
      %h1 投稿一覧
      - @posts.each do |post|
        .Posts__contents
          %p.Posts__contents--text= post.content
          - if post.image?
            = image_tag post.image.url, height: '200', class: 'Posts__contents--image'
    .Posts
      %h1 お気に入り一覧
      - @favorite_posts.each do |post|
        .Posts__contents
          %p.Posts__contents--text= post.content
          - if post.image?
            = image_tag post.image.url, height: '200', class: 'Posts__contents--image'