.EventIndex
  - @events.each do |event|
    .EventIndex__Box
      = event.user.name
      = event.title
      = event.description
      = event.place
      = event.day
      = event.start.strftime('%H:%M')
      = event.end.strftime('%H:%M')
