.EventShow
  = @event.user.name
  = @event.title
  = @event.description
  = @event.place
  = @event.day
  = @event.start.strftime('%H:%M')
  = @event.end.strftime('%H:%M')

  - @participation_users.each do |user|
    = user.name

  - if current_user.id == @event.user_id
    = link_to '編集', edit_event_path(@event.id)
    = link_to '削除', event_path(@event.id), method: :delete
  - else
    %div{class: "EventShow__participation--#{@event.id}"}
      = render partial: 'events/participate', locals: { event: @event }

    -# %div{class: "ContentBox__actionBar--favorite--#{@post.id}"}
    -#   = render partial: "posts/favorite", locals: { post: @post }
