.Message
  .MessageHeader
    - @entries.each do |e|
      = link_to "#{e.user.name}さん", "/users/#{e.user.id}", class: ".MessageHeader--name"
    のDirect Message
  .MessageField
    - if @messages.present?
      - @messages.each do |m|
        = link_to "#{m.user.name}さん", "/users/#{m.user.id}"
        = text_url_to_link(h(m.content)).html_safe
        %hr/
    - else
      %h3.text-center メッセージはまだありません
  .MessageForm
    = form_with model: @message , class: "MessageForm__form", local: true do |f|
      .MessageForm__contents
        = f.text_field :content, placeholder: "メッセージを入力して下さい" , class: "MessageForm__contents--text"
        = f.label :image, class: "MessageForm__contents--image" do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'Hidden'
        = f.hidden_field :room_id, value: @room.id
        %br/
      = f.submit "投稿する", class: "MessageForm__submit"
