- if user_signed_in? && current_user.id != post.user_id
  - if post.favorited_by?(current_user)
    %span
    = link_to post_favorites_path(post.id), method: :delete do
      = icon('fas', 'star', class: 'unFavoriteIcon')
  - else
    %span
    = link_to post_favorites_path(post.id), method: :post do
      = icon('far', 'star', class: 'FavoriteIcon')
  %span お気に入り数:
  = post.favorites.count