.PostFormBox
  .UserInfo
    .UserInfo--image
    .UserInfo__nameBox
      .UserInfo__nameBox--name
        = current_user.name
  = form_with(model: @post, local: true, class: "PostForm") do |f|
    = f.label :content, "投稿内容を入力"
    = f.text_area :content, placeholder: "type a text", class: "PostForm__textarea"
    = f.label :tag_list, "ハッシュタグ 例: Ruby,Rails,JavaScript"
    %br
    = f.text_field :tag_list, placeholder: "add tags split ','",value: @post.tag_list.join(','), class: "PostForm__tag"
    .PostForm__buttons
      = f.label :image, class: 'PostForm__buttons__image' do
        = icon('far', 'image', class: 'imageIcon')
        = f.file_field :image, class: 'Hidden'
      = f.submit '投稿', class: 'PostForm__submit'
= render "layouts/rightbar"