.ContentBox
  .ContentBox__info
    .ContentBox__info--image
      =link_to user_path(post.user.id) do
        = image_tag post.user.image.url, size: '50x50'
    .ContentBox__info--name
      =link_to post.user.name, user_path(post.user.id)
    .ContentBox__info--follow
  .ContentBox__contents
    .ContentBox__contents--text
      %p= text_url_to_link(h(post.content)).html_safe
    .ContentBox__contents--image
      = link_to post.image.url, 'data-lightbox': post.image do
        = image_tag post.image.url,  class: 'ContentBox__contents--image' if post.image.present?
  .ContentBox__tags
    - unless post.tag_list.empty?
      タグ：
      - post.tag_list.each do |tag|
        = link_to tag, posts_path(tag_name: tag), class: "ContentBox__tags--tag"
  .ContentBox__actionBar
    .ContentBox__actionBar--date
      = post.created_at.strftime("%Y-%m-%d %H:%M:%S")
    - if user_signed_in? && current_user.id == post.user_id
      .Postshow__fav
        = icon('fas', 'star')
        = post.favorites.count
      .ContentBox__actionBar--edit
        = link_to '編集', edit_post_path(post.id), method: :get
      .ContentBox__actionBar--edit
        = link_to '詳細', post_path(post.id), method: :get
    - else
      %div{class: "ContentBox__actionBar--favorite--#{post.id}"}
        = render partial: "posts/favorite", locals: { post: post }
      .ContentBox__actionBar--detail
        = link_to post_path(post.id), method: :get do
          =icon('fas', 'comment', class: 'ContentBox__actionBar--detail--icon')
