.Timeline
  .Timeline__header
    = icon('fas', 'home', class: 'Timeline__header--icon')
    %p.Timeline__header--name ホーム
  .Timeline__main
    - @posts.each do |post|
      .ContentBox
        .ContentBox__info
          .ContentBox__info--image
              = image_tag post.user.image.url, width: '100px'
          .ContentBox__info__user
            .ContentBox__info__user--userName
              =link_to "#{post.user.name}", "/users/#{post.user.id}"
            .ContentBox__info__user--userId
              
          .ContentBox__info--date
            = post.created_at.strftime("%Y-%m-%d %H:%M:%S")
        .ContentBox__contents
          .ContentBox__contents--text
            %p= post.content
          = image_tag post.image.url, class: '.ContentBox__contents--image' if post.image.present?
        .ContentBox__actionBar
          %i.fas.fa-comment
          - if user_signed_in? && current_user.id == post.user_id
            = link_to '編集', edit_post_path(post.id), method: :get
            = link_to '削除', post_path(post.id), method: :delete
          = link_to '詳細', post_path(post.id), method: :get
