.Timeline
  .Timeline__header
    = icon('fas', 'home', class: 'Timeline__header--icon')
    %p.Timeline__header--name ホーム
  .Timeline__main
    - @posts.each do |post|
      .ContentBox
        .ContentBox__info
          .ContentBox__info--image
            画像
          .ContentBox__info__user
            .ContentBox__info__user--userName
              ヨシノ
            .ContentBox__info__user--userId
              @yoshitomo
          .ContentBox__info--date
            2020/06/30
        .ContentBox__contents
          .ContentBox__contents--text
            = post.content
        .ContentBox__actionBar
          %i.fas.fa-comment
          %i.fas.fa-star
          = link_to '詳細', post_path(post.id), method: :get
          = link_to '編集', edit_post_path(post.id), method: :get
          = link_to '削除', post_path(post.id), method: :delete
