.PostShow
  .PostBox
    .PostBox__info
      .PostBox__info--icon
        = image_tag @post.user.image.url, size: '50x50'
      .PostBox__info--name
        =link_to "#{@post.user.name}", "/users/#{@post.user.id}"
      .PostBox__info--follow
        - if current_user != @post.user
          - if @post.user.followed_by?(current_user)
            %p= link_to "フォロー解除", user_relationships_path(@post.user.id), method: :delete
          - else
            %p= link_to "フォローする", user_relationships_path(@post.user.id), method: :post
    .PostBox__contents
      .PostBox__contents--text
        %p= text_url_to_link(h(@post.content)).html_safe
      .PostBox__contents--image
        = link_to @post.image.url, 'data-lightbox': @post.image do
          = image_tag @post.image.url, class: 'PostBox__contents--image', height: '300px' if @post.image.present?
    .PostBox__tags
      - unless @post.tag_list.empty?
        タグ：
        - @post.tag_list.each do |tag|
          = link_to tag, posts_path(tag_name: tag), class: "PosttBox__tags--tag"
    .PostBox__actionBar
      = @post.created_at.strftime("%Y-%m-%d %H:%M:%S")
      .PostBox__actionBar--favorite
        = render partial: "posts/favorite", locals: { post: @post }
      - if user_signed_in? && current_user.id == @post.user_id
        = link_to '編集', edit_post_path(@post.id), method: :get, class: "PostBox__actionBar--edit"
        = link_to '削除', post_path(@post.id), method: :delete, class: "PostBox__actionBar--delete"
  -# コメント用のビューです---------------------------
.RightBar
  .CommentContents
    .CommentContents__header
      %p コメント
    .CommentContents__form
      - if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメントする", rows: "2" , class: "CommentContents__form--text"
          = form.submit "SEND", class: "CommentContents__form--submit"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .CommentContents__index--header
      %h4 ＜コメント一覧＞
    - if @comments
      .CommentContents__index
        - @comments.each do |comment|
          .CommentContents__index__box
            = link_to comment.user.name, "/users/#{comment.user_id}", class: ".CommentContents__index__box--name"
            ：
            .CommentContents__index__box--text= text_url_to_link(h(comment.text)).html_safe