.ContentShow
  .ContentBox
    .ContentBox__info
      .ContentBox__info--image
        画像
      .ContentBox__info__user
        .ContentBox__info__user--userName
          =@post.user.name
        .ContentBox__info__user--userId
          useid
      .ContentBox__info--date
        2020/06/30
    .ContentBox__contents
      .ContentBox__contents--text
        %span= @post.content
      = image_tag @post.image.url, class: '.ContentBox__contents--image' if @post.image.present?
    .ContentBox__actionBar
      %i.fas.fa-comment
      %i.fas.fa-star
      - if user_signed_in? && current_user.id == @post.user_id
        = link_to '編集', edit_post_path(@post.id), method: :get
        = link_to '削除', post_path(@post.id), method: :delete
  -# コメント用のビューです
  .container
    - if current_user
      = form_with(model: [@post, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
              ：
            = comment.text
