.SideBar
  - if user_signed_in?
    = link_to root_path, class: "SideBar__icon" do
      = image_tag 'MYLogo.png', size: '80x80'
    = link_to "/users/#{current_user.id}", class:"SideBar__info" do
      =image_tag current_user.image.url, size: '32x32'
      .SideBar__name= current_user.name
    .SideBar__back.SideBar__list
      = link_to root_path, class:"SideBar__list" do
        = icon('fas', 'home')
        Home
    .SideBar__back.SideBar__list
      = link_to "/users/#{current_user.id}", class:"SideBar__list" do
        = icon('fas', 'user-circle')
        Profile
    .SideBar__back.SideBar__list
      = link_to  new_post_path, class:"SideBar__list" do
        = icon('fas', 'paper-plane')
        Post
    - if unchecked_notifications.any?
      .SideBar__back.SideBar__list
        = link_to notifications_path, class: "SideBar__list SideBar__list--notice" do
          = icon('fas', 'bell')
          Notice
    - else
      .SideBar__back.SideBar__list
        = link_to notifications_path, class: "SideBar__list" do
          = icon('fas', 'bell')
          Notice
    .SideBar__back.SideBar__list
      = link_to  events_path, class:"SideBar__list" do
        = icon('fas', 'calendar-alt')
        Events
    .SideBar__back.SideBar__list
      = link_to  users_path, class:"SideBar__list" do
        = icon('fas', 'users')
        Users
    .SideBar__back.SideBar__list
      = link_to destroy_user_session_path, method: :delete, class:"SideBar__list" do
        = icon('fas', 'sign-out-alt')
        Logout
  - else
    .SideBar__back.SideBar__list
      = link_to new_user_session_path, class:"SideBar__list" do
        = icon('fas', 'sign-in-alt')
        ログイン
    .SideBar__back.SideBar__list
      = link_to new_user_registration_path, class:"SideBar__list" do
        = icon('fas', 'user-plus')
        新規登録
  .SideBar__back.SideBar__list
    = link_to '/about', class:"SideBar__list" do
      = icon('fas', 'info')
      About
  .SideBar__back.SideBar__list
    = link_to '/help', class:"SideBar__list" do
      = icon('fas', 'question')
      Help
