.SideBar
  - if user_signed_in?
    = link_to root_path, class: "SideBar__icon" do
      = image_tag 'MYLogo.png', size: '80x80'
    .SideBar__name= current_user.name
    = link_to root_path, class:"SideBar__list" do
      = icon('fas', 'home')
      Home
    = link_to "/users/#{current_user.id}", class:"SideBar__list" do
      = icon('fas', 'user-circle')
      Profile
    = link_to  new_post_path, class:"SideBar__list" do
      = icon('fas', 'paper-plane')
      Post
    - if unchecked_notifications.any?
      = link_to notifications_path, class: "SideBar__list SideBar__list--notice" do
        = icon('fas', 'bell')
        Notice
    - else
      = link_to notifications_path, class: "SideBar__list" do
        = icon('fas', 'bell')
        Notice

    -# - if unchecked_notifications.any?
    -#   =icon('fas', 'circle')
    -# %li
    -#   = link_to "Notice", notifications_path, class: "btn-default"
    = link_to  users_path, class:"SideBar__list" do
      = icon('fas', 'users')
      Users
    = link_to destroy_user_session_path, method: :delete, class:"SideBar__list" do
      = icon('fas', 'sign-out-alt')
      Logout
  - else 
    = link_to new_user_session_path, class:"SideBar__list" do
      = icon('fas', 'sign-in-alt')
      ログイン
    = link_to new_user_registration_path, class:"SideBar__list" do
      = icon('fas', 'user-plus')
      新規登録
  = link_to '/about', class:"SideBar__list" do
    = icon('fas', 'info')
    About
  = link_to '/help', class:"SideBar__list" do
    = icon('fas', 'question')
    Help